<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<div class = "flex-container">
  <div><h2><% if @game.current_turn == @game.player_1 %>
    <%= @game.player_1.name %> attacks <%= @game.player_2.name %>
  <% else %>
    <%= @game.player_2.name %> attacks <%= @game.player_1.name %>
  <% end %>
  </h2>
  </div>  
<div><%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP</div>
<div><%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP</div>

  <div class="form">
    <% if @game.next_player.name == 'Computer' %>
      <% @game.switch_turns %>
      <form action="/attack" method="post">
          <p><input type="submit" value="OK"></p>
      </form>
    <% else %>
      <form action="/switch-turns" method="post">
        <p><input type="submit" value="OK"></p>
      </form>
    <% end %>
  </div>
</div>
</body>
</html>