<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>

<h2><% if @game.current_turn == @game.player_1 %>
  <%= @game.player_1.name %> attacks <%= @game.player_2.name %>
<% else %>
  <%= @game.player_2.name %> attacks <%= @game.player_1.name %>
<% end %>
</h2>
  
<div><%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP</div>
<div><%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP</div>

<% if @game.next_player.name == 'Computer' %>
  <% @game.switch_turns %>
  <form action="/attack" method="post">
      <input type="submit" value="OK">
  </form>
<% else %>
  <form action="/switch-turns" method="post">
    <input type="submit" value="OK">
  </form>
<% end %>
</body>
</html>